<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card bg-transparent">
                            <div class="">
                                <h4>First sud Header</h4>
                                <!--<form role="form">-->
                                <a class="btn btn-primary" href="/home"> <i class="fa fa-home"></i> Home
                                </a>
                                <a href="/employee" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp;
                                    View List </a>

                                <!--
                                                                        </form>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card bg-transparent">
                            <div class="card-body">
                                <h4>Secondary Header </h4>
                                <form th:action="${addStatus==true?'/employee/save' :'/employee/update'}"
                                      method="post" th:object="${employee}" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6"><!--Left Side-->
                                            <!--ID -->
                                            <div id="idStatus" th:if="${addStatus==false}"
                                                 class="form-row text-right">

                                                <label class="control-label" for="id">ID :</label>


                                                <input id="id" th:field="*{id}" class="form-control" type="text"
                                                       readonly/>

                                            </div>

                                            <!--Name-->
                                            <div class="form-group">

                                                <label class="control-label" for="name">Name :</label>
                                                <input id="name" th:field="*{name}" class="form-control"
                                                       type="text" required/>
                                                <span id="nameError" th:errors="*{name}"
                                                      th:if="${#fields.hasErrors('name')}"
                                                      class="error">Error Name</span>
                                            </div>

                                            <!--Nic-->
                                            <div class="form-group">

                                                <label class="control-label" for="nic">NIC No :</label>

                                                <input id="nic" th:field="*{nic}" class="form-control"
                                                       tabindex="6" type="text"
                                                       maxlength="12"
                                                       minlength="10" required/>
                                                <span class="error" id="nicError" th:errors="*{nic}"
                                                      th:if="${#fields.hasErrors('nic')}">Error
                                                               NIC Number</span>

                                            </div>
                                            <!--Gender-->
                                            <div class="form-group">

                                                <label class="control-label" for="gender">Gender :</label>

                                                <select id="gender" th:field="*{gender}" class="form-control"
                                                        tabindex="7" required>
                                                    <option value="">Please select</option>
                                                    <option th:each="genders : ${gender}"
                                                            th:text="${genders.gender}"
                                                            th:value="${genders}"
                                                            th:selected="${genders==employee.gender?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <!--Date of birth-->
                                            <div class="form-group">

                                                <label class="control-label" for="dateOfBirth">Birth date
                                                    :</label>
                                                <input id="dateOfBirth" th:field="*{dateOfBirth}"
                                                       class="form-control" tabindex="8"
                                                       placeholder="Ex: 1990 - 01 - 20"
                                                       required type="date"/>
                                                <span th:errors="*{dateOfBirth}"
                                                      th:if="${#fields.hasErrors('dateOfBirth')}" class="error">Error Birthday</span>

                                            </div>

                                            <!--Designation-->
                                            <div class="form-group">

                                                <label class="control-label" for="designation">Designation
                                                    :</label>

                                                <select id="designation" th:field="*{designation}"
                                                        class="form-control" tabindex="10"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="designation : ${designation}"
                                                            th:text="${designation.designation}"
                                                            th:value="${designation}"></option>
                                                </select>

                                            </div>
                                            <!--Photos-->
                                            <div class="form-group" th:if="${addStatus==false}">
                                                <label class="active ">Photos :</label>
                                                <div class="row">
                                                    <div class="col" id="filesList"                                                        >
                                                        <div class="col">
                                                            <div class="alert alert-warning alert-dismissible fade show"
                                                                 role="alert">
                                                                <div class="card text-center">
                                                                    <div class="card-body">
                                                                        <img id="img" class="rounded"
                                                                             style="height: 150px; width: 150px; border-radius: 10px"
                                                                             alt="Employee images"
                                                                             th:src="${files.url}"/>
                                                                    </div>
                                                                    <div class="card-footer bg-secondary text-light text-center">
                                                                        <p id="imgName"
                                                                           th:text="${files.filename}"></p>
                                                                        <p> Uploaded Date :
                                                                            <span id="imgCreateAt"
                                                                                  th:text="${{files.createAt}}"></span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <button class="btn btn-success" type="submit" tabindex="21">
                                                     <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;
                                                     &nbsp;<span id="submit"
                                                                 th:text="${addStatus==true?'Save': 'Update'}"></span>
                                                 </button>-->
                                                <div class="form-row">
                                                    <label id="errorLabel" th:if="${#fields.hasErrors('*')}"
                                                           th:text="'Errors: '">Errors: </label>
                                                    <ul>
                                                        <li id="error" th:each="err: ${#fields.errors('*')}"
                                                            th:text="${err}" class="error"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6"><!--Right Side-->
                                            <div class="form-group">

                                                <label class="control-label" for="civilStatus">Civil State
                                                    :</label>

                                                <select th:field="*{civilStatus}" id="civilStatus"
                                                        class="form-control" tabindex="11"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="civilStatu : ${civilStatus}"
                                                            th:text="${civilStatu.CivilStatus}"
                                                            th:value="${civilStatu}"
                                                            th:selected="${civilStatu==employee.civilStatus?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <!--Address-->
                                            <div class="form-group">

                                                <label class="control-label" for="address">Address :</label>

                                                <textarea id="address" th:field="*{address}"
                                                          class="form-control" tabindex="12"
                                                          required></textarea>
                                                <span class="error" th:errors="*{address}"
                                                      th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>

                                            </div>
                                            <!--Mobile Number One-->
                                            <div class="form-group">

                                                <label class="control-label" for="mobileOne">Mobile One No
                                                    :</label>

                                                <input id="mobileOne" th:field="*{mobileOne}"
                                                       class="form-control mobile" tabindex="13"
                                                       type="text"
                                                       maxlength="10" min="9"
                                                       required/>
                                                <span class="error" th:errors="*{mobileOne}"
                                                      th:if="${#fields.hasErrors('mobileOne')}"
                                                      id="mobileOneError">Error Mobile Number</span>

                                            </div>

                                            <!--Email-->
                                            <div class="form-group">

                                                <label class="control-label" for="email">Email :</label>

                                                <input id="email" th:field="*{email}" class="form-control"
                                                       tabindex="16" type="email"
                                                       required/>
                                                <span class="error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}"
                                                      id="emailError">Error Email</span>

                                            </div>

                                            <!--Employee receiving Expenses Status-->
                                            <div class="form-group">

                                                <label class="control-label" for="employeeStatus">Employee
                                                    Status :</label>

                                                <select id="employeeStatus" th:field="*{employeeStatus}"
                                                        class="form-control" tabindex="19"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="employeeStatuss : ${employeeStatus}"
                                                            th:text="${employeeStatuss.employeeStatus}"
                                                            th:value="${employeeStatuss}"
                                                            th:selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group" id="updateStatus"
                                                 th:if="${addStatus==false}">
                                                <label class="control-label" for="createdBy">Created By
                                                    :</label>
                                                <input id="createdBy" th:field="*{createdBy}"
                                                       class="form-control" type="text"
                                                       readonly/>
                                            </div>
                                        </div>
                                    </div>
                                    <!--photo -->
                                    <div class="col-md-6">
                                        <input type="file" name="file" id="imgUpload"
                                               accept="image/png, image/jpeg">
                                        <div class="col-md-3 ">
                                            <img src="" id="image" alt="" style="height: 100px;">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <i th:class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                            <span
                                                    th:text="${addStatus==true?'Save' : 'Update'}"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgUpload").change(function () {
        readURL(this);
    });
</script>
</body>
</html>